
<div class="editor-panel">
	@if (Value is EditorObject editorObject)
	{
		foreach (var field in editorObject.Fields)
		{
			<DataEditorRowField Field="field" />
		}
	}
</div>

@code {
	[Parameter]
	public IEditorValue? Value { get; set; }
}
