@page "/playground"

<div class="card-columns">
	<div class="card">
		<img src="/RPGCore/img/ItemIcons.png" class="card-img-top" alt="A collection of example items.">
		<div class="card-body">
			<h5 class="card-title">Item Playground</h5>
			<p class="card-text">Interact with the Item API. Create new items, and modify exisiting ones.</p>
			<a href="playground/item" class="btn btn-primary stretched-link">Item Playground</a>
		</div>
	</div>

	<div class="card">
		<img src="/RPGCore/img/ImmolateBuff.png" class="card-img-top" alt="An example of the editor.">
		<div class="card-body">
			<h5 class="card-title">Editor Playground</h5>
			<p class="card-text">Interact with the web node-based editor to create items.</p>
			<a href="playground/editor" class="btn btn-primary stretched-link">Editor Playground</a>
		</div>
	</div>
</div>
