@page "/playground"

<div class="card" style="width: 18rem;">
	<img src="/RPGCore/img/ItemIcons.png" class="card-img-top" alt="A collection of example items.">
	<div class="card-body">
		<h5 class="card-title">Item Playground</h5>
		<p class="card-text">Interact with the Item API. Create new items, and modify exisiting ones.</p>
		<a href="playground/item" class="btn btn-primary">Item Playground</a>
	</div>
</div>
