<template class="task-template">
    <div id="about-modal" class="about modal">
        <div class="about-wrapper">
            <header class="about-header">
                <img class="about-logo" src="assets/img/about.png" srcset="assets/img/about.png 1x, assets/img/about@2x.png 2x" alt="Electron.NET API Demos">
            </header>
            <main class="about-sections">
                <h2>Play Along</h2>
				<p>
					Use the demo snippets in an Electron app of your own. The <a href="https://github.com/electron/electron-quick-start">Electron Quick Start<span class="u-visible-to-screen-reader">(opens in new window)</span></a> app is a bare-bones setup that pairs with these demos. Follow the instructions here to get it going.
					To activate Electron.NET include the <a href="https://www.nuget.org/packages/ElectronNET.API/" target="_blank">ElectronNET.API NuGet package</a> in your ASP.NET Core app.</p>

				<div class="rainbow-button-wrapper">
					<button id="get-started" class="about-button modal-hide">Get Started</button>
				</div>
			</main>
        </div>
    </div>
</template>
