* {
    margin: 0;
    border: none;
    user-select: none;
    font-family: Helvetica;
}

.layout {
    position: fixed;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 220px auto;
    grid-template-rows: 30px 30px auto 22px;
    grid-template-areas: "controls controls" "navigation tabs" "navigation workspace" "bar bar";
    background-color: #fff;
    color: #444;
}

.controls {
    grid-area: controls;
    background-color: #e6e6e6;
}

.navigation {
    grid-area: navigation;
    background-color: #f3f3f3;
    overflow-x: hidden;
    overflow-y: overlay;
}

    .navigation .header {
        padding: 3px;
        font-size: 1.4em;
    }

.tabs {
    grid-area: tabs;
    background-color: #f3f3f3;
}

.workspace {
    grid-area: workspace;
    background-color: #ffffff;
}

.bar {
    grid-area: bar;
    background-color: #68217a;
}

.workarea {
    height: 100%;
    width: 100%;
}

.canvas {
    background-color: #fcfcfc;
    background-image: linear-gradient(#ddd 2px, transparent 2px), linear-gradient(90deg, #ddd 2px, transparent 2px), linear-gradient(rgba(160,160,160,.3) 1px, transparent 1px), linear-gradient(90deg, rgba(160,160,160,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.listview {
}

    .listview ul {
        padding: 0;
        margin: 0;
    }

        .listview ul li {
            display: block;
            padding: 3px;
            /* cursor: pointer; */
        }

            .listview ul li:hover {
                background-color: #f7f7f7;
            }

            .listview ul li:active {
                background-color: #e3e3e3;
            }
