* {
    margin: 0px;
    border: none;
    user-select: none;
    font-family: Helvetica;
}

.page {
    width: 100%;
    height: 100%;
    border: none;
    border-collapse: collapse;
}

    .page td {
        padding: 0px;
    }

.explorer {
    height: 100%;
    background-color: #fff;
}

    .explorer .header {
        padding: 3px;
        font-size: 1.4em;
    }

.explorerDrag {
    background-color: #777;
    cursor: ew-resize;
}

.workarea {
    height: 100vh;
    background-color: #fcfcfc;
    background-image:
        linear-gradient(#ddd 2px, transparent 2px),
        linear-gradient(90deg, #ddd 2px, transparent 2px),
        linear-gradient(rgba(160,160,160,.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(160,160,160,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.listview ul {
    padding: 0px;
    margin: 0px;
}

    .listview ul li {
        display: block;
        padding: 3px;
        /* cursor: pointer; */
    }

        .listview ul li:hover {
            background-color: #f3f3f3;
        }

        .listview ul li:active {
            background-color: #e3e3e3;
        }
