@using RPGCore.DataEditor;
@using RPGCore.DataEditor.Files;
@using RPGCore.DataEditor.Manifest;
@using RPGCore.DataEditor.Manifest.Source.JsonSerializer;
@using System.IO;
@using System.Text.Json;

@page "/"

<h1>Data Editor</h1>

<div style="background-color: #eee; padding: 2em; margin: 1em;">
	<DataEditorPanel Value="root" />
</div>

<button @onclick="UpdateOutput">Output</button>

<pre>@output</pre>

@code {
	private string output = "";
	private IEditorValue? root;
	private EditorFile? file;

	protected override Task OnInitializedAsync()
	{
		var serializer = new JsonSerializerOptions();

		var schema = ProjectManifestBuilder.Create()
			.UseTypesFromJsonSerializer(serializer, options =>
			{
				options.UseFrameworkTypes();
				options.UseType(typeof(Weapon));
				options.UseType(typeof(WeaponSlot));
			})
			.Build();

		var session = new EditorSession(schema, new JsonEditorSerializer());

		file = session.EditFile()
			.WithType(new TypeName("Weapon"))
			.LoadFrom(new TypeDefaultLoader())
			.SaveTo(new FileSystemFile(new FileInfo("data.json")))
			.Build();

		root = file.Root;

		var rootObject = (EditorObject)file.Root;

		rootObject.Comments.Add(" important comments ");

		var nameValue = (EditorScalarValue)rootObject.Fields["Name"]!.Value;
		var damageValue = (EditorScalarValue)rootObject.Fields["Damage"]!.Value;
		var durabilityValue = (EditorScalarValue)rootObject.Fields["Durability"]!.Value;
		var isEnchantableValue = (EditorScalarValue)rootObject.Fields["IsEnchantable"]!.Value;

		nameValue.Value = "Excalibur";
		damageValue.Value = 50;
		durabilityValue.Value = 800L;
		isEnchantableValue.Value = true;

		return Task.CompletedTask;
	}

	private void UpdateOutput()
	{
		if (file == null)
		{
			return;
		}

		var serializer = new JsonEditorSerializer();

		using var data = new MemoryStream();

		serializer.SerializeValue(file.Root, new TypeName("Weapon"), data);

		data.Seek(0, SeekOrigin.Begin);

		using var sr = new StreamReader(data);
		output = sr.ReadToEnd();
	}
}
