@{
	ViewData["Title"] = "Content Creator";
}

<h2>@ViewData["Title"]</h2>

<p>Use this page to detail your site's privacy policy.</p>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Input Node</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>