@page "/playground/item"

<h1>Item Playground</h1>

<div class="row">

	<div class="col-lg-8">

		<div class="form-group">
			<textarea class="form-control"  style="font-family:monospace;" id="code-area" rows="7"></textarea>
		</div>

	</div>

	<div class="col-lg-4">

		<ItemRender />

	</div>

</div>
