@using RPGCore.Data;
@using RPGCore.DataEditor;
@using RPGCore.DataEditor.Files;
@using RPGCore.DataEditor.Manifest;
@using RPGCore.DataEditor.Manifest.Source.JsonSerializer;
@using System.IO;
@using System.Text.Json;

@page "/counter"

<h1>Counter</h1>
