<template class="task-template">
	<section id="static-section" class="section js-section u-category-communication">
		<p>Prototype Editor</p>

		<code id="async-msg">
			(None)
		</code>

		<input class="form-control" id="graphName" />

		<script>
			(function () {
				const { ipcRenderer } = require("electron");

				ipcRenderer.on('onReloadFile-reply', (event, arg) => {
					const message = arg;
					console.log(message);
					document.getElementById('async-msg').innerHTML = message;
					
					var obj = JSON.parse(message);

					console.log(obj.Name);
					console.log(obj.Nodes);

					document.getElementById('graphName').value = obj.Name;
					document.getElementById('graphName').addEventListener("onchange", () => {
						obj.Name = this.value;
					});

					ipcRenderer.on('requestSave-reply', (event, arg) => {
						ipcRenderer.send('saveActiveDocument', JSON.stringify(obj));
					});
				});
			}());
		</script>
	</section>
</template>
